body {
  text-align: center;
}
#b {
  color: black;
}
body {
  background: url("bg.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

h1 {
  padding-top: 4%;
}

form {
  display: flex;
  justify-content: space-around;
  padding-left: 25%;
  padding-right: 25%;
  align-items: center;
}
label {
  font-weight: 600;
}

.search {
  background-color: rgb(0, 0, 0);
  padding: 4px;
  border-radius: 10pxs;
}
